<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no">
    <link href="{CSS_PATH}default/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}default/base.css" rel="stylesheet" type="text/css">
    <link href="{CSS_PATH}default/index.css" rel="stylesheet" type="text/css">
    <script src="{JS_PATH}default/jquery-1.8.3.min.js"></script>
    <script src="{JS_PATH}default/swiper.min.js"></script>
    <script src="{JS_PATH}default/Validform_v5.3.2.js"></script>

    <?php
    $arr=array("1","2");
    if(in_array($catid,$arr) || !isset($catid)):?>
    <script src="{JS_PATH}default/slide.js"></script>
    <?php endif;?>
    <script src="{JS_PATH}default/index.js"></script>
    <!--[if lt IE 10]>
    <div id="lowerbroswer">
        <div class="zk centerbox">
            <div class="centerbox-cont">
                <h1>您的浏览器已经过时了!</h1>
                <p>请升级浏览器以更好地体验我们的网站。</p>
                <div class="btns">
                    <a href="http://www.google.cn/chrome/" target="_blank">
                        <img src="{IMG_PATH}default/1.png" alt="chrome" />
                        <h4>Google Chrome</h4>
                    </a>
                    <a href="http://www.mozilla.org/firefox/new/" target="_blank">
                        <img src="{IMG_PATH}default/2.png" alt="firefox" />
                        <h4>Firefox</h4>
                    </a>
                    <a href="http://www.opera.com/" target="_blank">
                        <img src="{IMG_PATH}default/3.png" alt="opera" />
                        <h4>Opera</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#lowerbroswer').show();
    </script>
    <![endif]-->
</head>
<body>
<div class="top">
    <div class="inner">
        <a href="" class="logo fl"><img src="{IMG_PATH}default/logo_03.png"></a>
        <div class="right fr clear">
            <div class="qq fl">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2984135233&site=qq&menu=yes">
                    <img border="0" src="http://wpa.qq.com/pa?p=2:2984135233:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>
                </a>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2984135233&site=qq&menu=yes">
                    <img border="0" src="http://wpa.qq.com/pa?p=2:2984135233:51" alt="点击这里给我发消息" title="点击这里给我发消息"/>
                </a>
            </div>
            <div class="line fl"></div>
            <div class="icon fl"><img src="{IMG_PATH}default/icon_03.png"></div>
            <div class="text fl">
                <div class="title1">咨询电话</div>
                <h3>{CONTACT_TEL}<br>
                    {CONTACT_PHONE}
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <div class="inner">
        <ul class="list clear">
            <li class="{if !isset($catid)}bg{/if}">
                <a href="{APP_PATH}">首页</a>
            </li>
            {pc:content action="category" catid="0" num="25"  order="listorder ASC" return="data"}
    		      {loop $data $r}
                    <li class="{if $r[catid]==$catid || $top_parentid==$r[catid]}bg{/if}"><a href="{if $r[catid]==5}{$CATEGORYS[17][url]}{else}{$r[url]}{/if}">{$r[catname]}</a></li>
    		      {/loop}
          {/pc}
        </ul>
    </div>
</div>
<?php if(isset($catid)){
  if($catid==1 || $top_parentid==1)
    $ccid=19;
  elseif($catid==2 || $top_parentid==2)
   $ccid=20;
  elseif($catid==3 || $top_parentid==3)
   $ccid=24;
  elseif($catid==4 || $top_parentid==4)
   $ccid=25;
 elseif($catid==5 || $top_parentid==5)
  $ccid=25;
  elseif($catid==6 || $top_parentid==6 ||$catid==32)
   $ccid=29;

}

?>


{if !isset($catid)}
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
          {pc:content action="lists" catid="8" order="listorder desc"}
          {loop $data $r}
            <div class="swiper-slide"><img src="{$r[thumb]}"></div>
          {/loop}
          {/pc}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
{else}
<div class="banner2">
  {pc:content action="lists" catid="$ccid" order="listorder desc" num="1"}
  {loop $data $r}
    <img src="{$r[thumb]}">
  {/loop}
  {/pc}
</div>
{/if}
