{template "content","header"}
<div class="about new new2">
    <div class="inner">
        <div class="box">
            <ul class="aboutUl clear">
              {pc:content action="category" catid="5"  order="listorder desc" return="data"}
                {loop $data $r}
                <li {if $catid==$r[catid]}class="bg"{/if}><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
            {/pc}
            </ul>
        </div>
        <div class="new2Top">
            <div class="title">{$title}</div>
            <p>发布时间：{date('Y-m-d',strtotime($inputtime))}<span>浏览次数：<span id="hits" style="margin:0 1px;"></span>次</span>来源：{if !empty($copyfrom)}{$copyfrom}{else}裕华丹青{/if}</p>
        </div>
        <div class="new2Text">
         {$content}
        </div>
        <div class="up clear">
          <a href="{$previous_page[url]}" class="fl"> 上一篇：{$previous_page[title]}</a>
          <a href="{$next_page[url]}" class="fr"> 下一篇：{$next_page[title]}</a>
        </div>
    </div>
</div>
<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
{template "content","footer"}
